/* body{
    background-color: black;
}

div{
    width: 50%;
    margin: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
img{
    border: solid white;
    border-width: 5px;
} */


body{
    background-color: FEFBF6;
}

.poster{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2D9596;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.main-img{
    border: solid black;
    border-width: 10px;
}